################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ClientMqtt_Test/.vs/ClientMqtt_Test
